version: "3.9"

services:
  gateway:
    build: ./gateway
    container_name: api_gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - product-service
      - order-service
      - payment-service  

  auth-service:
    build: ./services/auth
    container_name: auth_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/auth:/app
    expose:
      - "8000"
    env_file:
      - ./services/auth/.env
    depends_on:
      - auth-db

  auth-db:
    image: postgres:15
    container_name: auth_db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  product-service:
      build: ./services/product
      container_name: product_service
      command: python manage.py runserver 0.0.0.0:8000
      volumes:
        - ./services/product:/app
      expose:
        - "8000"
      env_file:
        - ./services/product/.env
      depends_on:
        - product-db
        - redis

  product-db:
    image: postgres:15
    container_name: product_db
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: product_user
      POSTGRES_PASSWORD: product_pass
    volumes:
      - product_db_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  order-service:
    build: ./services/order
    container_name: order_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/order:/app
    expose:
      - "8000"
    env_file:
      - ./services/order/.env
    depends_on:
      - order-db
      - product-service  # optional if calling product API

  order-db:
    image: postgres:15
    container_name: order_db
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_pass
    volumes:
      - order_db_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  payment-service:
    build: ./services/payment
    container_name: payment_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/payment:/app
    expose:
      - "8000"
    env_file:
      - ./services/payment/.env
    depends_on:
      - payment-db
      - order-service

  payment-db:
    image: postgres:15
    container_name: payment_db
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
    volumes:
      - payment_db_data:/var/lib/postgresql/data
    ports:
      - "5436:5432"  
  
  inventory-service:
    build: ./services/inventory
    container_name: inventory_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/inventory:/app
    ports:
      - "8000"
    env_file:
      - ./services/inventory/.env
    depends_on:
      - inventory-db

  inventory-db:
    image: mongo:6.0
    container_name: inventory_mongodb
    environment:
      - MONGO_INITDB_DATABASE=inventory_db
      # Optional: Add MONGO_INITDB_ROOT_USERNAME/PASSWORD for security
    volumes:
      - inventory_mongo_data:/data/db
    ports:
      - "27017:27017"

  cart-service:
    build: ./services/cart
    container_name: cart_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/cart:/app
    expose:
      - "8000"
    env_file:
      - ./services/cart/.env
    depends_on:
      - cart-db
  
  cart-db:
    image: redis:7
    container_name: cart_db
    environment:
      - MONGO_INITDB_DATABASE=inventory_db
    volumes:
      - redis_cart_data:/data/db
    ports:
      - "6380:6379"

  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"
    
    
  celery-worker:
    build: ./services/payment
    container_name: payment_celery_worker
    command: celery -A config worker -l info
    env_file:
      - ./services/payment/.env
    depends_on:
      - payment-service
      - redis

volumes:
  auth_db_data:
  product_db_data:
  order_db_data:
  payment_db_data:
  inventory_mongo_data:
  redis_cart_data:

