version: "3.9"

services:
  gateway:
    build: ./gateway
    container_name: api_gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - product-service
      - order-service
      - payment-service  

  auth-service:
    build: ./services/auth
    container_name: auth_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/auth:/app
    expose:
      - "8000"
    env_file:
      - ./services/auth/.env
    depends_on:
      - auth-db

  auth-db:
    image: postgres:15
    container_name: auth_db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  product-service:
      build: ./services/product
      container_name: product_service
      command: python manage.py runserver 0.0.0.0:8000
      volumes:
        - ./services/product:/app
      expose:
        - "8000"
      env_file:
        - ./services/product/.env
      depends_on:
        - product-db
        - redis

  product-db:
    image: postgres:15
    container_name: product_db
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: product_user
      POSTGRES_PASSWORD: product_pass
    volumes:
      - product_db_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  order-service:
    build: ./services/order
    container_name: order_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/order:/app
    expose:
      - "8000"
    env_file:
      - ./services/order/.env
    depends_on:
      - order-db
      - product-service  # optional if calling product API

  order-db:
    image: postgres:15
    container_name: order_db
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: order_user
      POSTGRES_PASSWORD: order_pass
    volumes:
      - order_db_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  payment-service:
    build: ./services/payment
    container_name: payment_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./services/payment:/app
    expose:
      - "8000"
    env_file:
      - ./services/payment/.env
    depends_on:
      - payment-db
      - order-service

  payment-db:
    image: postgres:15
    container_name: payment_db
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
    volumes:
      - payment_db_data:/var/lib/postgresql/data
    ports:
      - "5436:5432"  
  
  redis:
    image: redis:7
    container_name: redis_cache
    ports:
      - "6379:6379"
  
  
    
  celery-worker:
    build: ./services/payment
    container_name: payment_celery_worker
    command: celery -A config worker -l info
    env_file:
      - ./services/payment/.env
    depends_on:
      - payment-service
      - redis

volumes:
  auth_db_data:
  product_db_data:
  order_db_data:
  payment_db_data:

