version: "3.9"

services:
  auth_service:
    build:
      context: ../services/auth_service
    container_name: auth_service
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ../services/auth_service:/app
    ports:
      - "8000:8000"
    env_file:
      - ../services/auth_service/.env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: auth_db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_password
    ports:
      - "5432:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data

volumes:
  auth_postgres_data: