version: '3.9'

services:
  auth-db:
    image: postgres:15
    container_name: auth-db
    env_file:
      - .env
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  auth-redis:
    image: redis:7
    container_name: auth-redis
    ports:
      - "6380:6379"

  auth-service:
    build: .
    container_name: auth-service
    command: >
      sh -c "django-admin startproject config ."
    volumes:
      - ./app:/app
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - auth-db
      - auth-redis

volumes:
  auth_db_data: